<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Member Details</title>
</head>
<body>
	<h1>Member Details</h1>
	<div class="member-info">
		<div>
			<strong>Pseudo:</strong> <span th:text="${member.userName}">Pseudo</span>
		</div>
		<div>
			<strong>Nom:</strong> <span th:text="${member.name}">Nom</span>
		</div>
		<div>
			<strong>Prénom:</strong> <span th:text="${member.firstName}">Prénom</span>
		</div>
		<div>
			<strong>Email:</strong> <span th:text="${member.email}">Email</span>
		</div>
		<div>
			<strong>Téléphone:</strong> <span th:text="${member.phoneNumber}">Téléphone</span>
		</div>
		<div>
			<strong>Rue:</strong> <span th:text="${member.roadNumber}"></span> <span
				th:text="${member.roadName}">Rue</span>
		</div>
		<div>
			<strong>Code Postal:</strong> <span th:text="${member.zipCode}">Code
				Postal</span>
		</div>
		<div>
			<strong>Ville:</strong> <span th:text="${member.townName}">Ville</span>
		</div>
	</div>

</body>
</html>
