<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<!-- Navigation -->
<nav class="bg-gray-800 shadow-md">
	<div class="max-w-7xl mx-auto px-4 py-4">
		<div class="flex justify-between items-center">
			<!-- Logo -->
			<th:block th:replace="~{fragments/logo.html :: logo}"></th:block>
			<!-- Barre de navigation -->
			<th:block th:replace="~{fragments/navBar.html :: navBar}"></th:block>
		</div>
	</div>
</nav>

<div>

	<div>
		<h1 th:text="${article.name}"></h1>
	</div>
	
	<div>
		<p> <strong>Article n°</strong> <span th:text="${article.idArticle}"></span> </p>
		
		<p> <strong>Catégorie</strong> <span th:text="${article.category.name}"></span> </p>
		
		<p> <span th:text="${article.description}"></span> </p>
		
		<p> <strong>Vente au statut</strong> <span th:text="${article.status}"></span> </p>
		<p> <strong>Date de début</strong> <span th:text="${article.auctionStartDate}"></span> </p>
		<p> <strong>Date de fin</strong> <span th:text="${article.auctionEndDate}"></span> </p>
		
		<p> <strong>Prix initial</strong> <span th:text="${article.startingPrice}"></span> </p>
		<p> <strong>Prix actuel</strong> <span th:text="${article.salePrice}"></span> </p>
		
		<p th:if="${article.status.name=='AuctionStarted' && article.buyer!=null}"> <strong>Gagnant actuel</strong> 
			<span th:text="${article.buyer.userName}"></span> </p>
		<p th:if="${article.status.name=='AuctionEnded' || article.status.name=='AuctionRemoved'}"> <strong>Gagnant</strong> 
			<span th:text="${article.buyer.userName}"></span> </p>
		
		<div th:if="${article.status.name=='AuctionStarted' && !article.vendor.equals(loggedMember)}">
		<form action="/article/bid" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<input type="hidden" name="idArticle" th:value="${article.idArticle}">
			<p> <strong>Renchérir</strong> 
				<input type="number" name="newPrice" th:min="${article.salePrice+1}" th:placeholder="${article.salePrice+1}"> </p>
			<button type="submit">Renchérir</button>
		</form>
		</div>
		
	</div>

	<div>
		<p> <strong>Vendu par</strong> <span th:text="${article.vendor.userName}"></span> </p>
		
		<p> <strong>Retrait au</strong> <br>
			<span th:text="${article.removalPoint.roadNumber}+' '+${article.removalPoint.roadName}"></span> 
			<br>
			<span th:text="${article.removalPoint.zipCode}+' '+${article.removalPoint.townName}"></span>
		</p>
		
	</div>
	
	<div th:if="${article.vendor.equals(loggedMember) && article.status.name=='Created'}">
	<form action="/article/redirectToUpdate" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<input type="hidden" name="idArticle" th:value="${article.idArticle}">
		<button>Modifier</button>
	</form>
	
	<form action="/article/deleteArticle" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<input type="hidden" name="idArticle" th:value="${article.idArticle}">
		<button>Annuler la vente (supprimer la vente)</button>
	</form>
	
	</div>

</div>



</body>
</html>