<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="navBar">
		<div sec:authorize="!isAuthenticated()"
			class="flex items-center space-x-4">
			<a href="/register">S'inscrire</a>
			<div sec:authorize="!isAuthenticated()"
				class="flex items-center space-x-4 ">
				<a href="/login">Se connecter</a>
			</div>
		</div>
		<div sec:authorize="isAuthenticated()"
			class="flex items-center space-x-4">
			<p>
				Utilisateur connecté : <label
					th:text="${#authentication.getPrincipal().getUsername()}"></label>
			</p>
			<a href="/encheres">Enchères</a> <a href="/article/redirectToCreate">Vendre
				un article</a> <a th:href="@{/register}">Mon Profil</a>
			<form th:action="@{/logout}" method="post" class="flex items-center">
				<button type="submit" class="ml-4">Déconnexion</button>
		</div>
</body>
</html>