<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav>
		<h1>ENI-Enchères</h1>
		<div sec:authorize="isAuthenticated()">
			<a href="/encheres">Enchères</a> <a>Vendre un article</a> <a href="/register">mon
				profil</a>
			<form th:action="@{/logout}" method="post" class="text-center mt-6">
				<button type="submit">Déconnexion</button>
			</form>
		</div>
	</nav>

	<h2>Liste des enchères</h2>
	<span>
		<h3>Filtres:</h3>
	</span>
	<span>
		<form method="post">
			<div>
				<span> <input type="text">
				</span> <span>
					<h4>Catégorie :</h4> <input type="text">
				</span>
			</div>
			<div>
				<button type="submit">Rechecher</button>
			</div>
		</form>
	</span>
	<span> </span>
</body>
</html>