<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>ENI-Enchères</h1>
	<h2>Liste des enchères</h2>
	<span>
		<h3>Filtres:</h3>
	</span>
	<span>
		<form method="post">
			<div>
				<span>
					<input type="text">
				</span>
				<span>
					<h4>Catégorie :</h4> 
					<input type="text">
				</span>
			</div>
			<div>
				<button type="submit">Rechecher</button>
			</div>
		</form>
	</span>
	<span>
		<div>
		
		</div>
		<div>
		</div>
	</span>
</body>
</html>